:root {
  --font-manrope: 'Manrope', sans-serif;
}

body {
  font-family: var(--font-manrope), sans-serif;
  background-color: #FFFFFF;
}

.div_container {
width: 100%;
max-width: 1440px;
margin-left: 70px;
margin-right: 70px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

