:root {
  --font-manrope: 'Manrope', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope), sans-serif;
  background-color: #FCFCFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

