.div_container {
    width: 1440px;
    margin-left: 70px;
    margin-right: 70px;
}

.div_container_background {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}