.section_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FCFCFD;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}

.text_sec_2_h1 {
    font-size: 48px;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;

}

.text_sec_2_h5_1 {
    font-size: 18px;
    color: #23262F;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.text_sec_2_h5_2 {
    font-size: 18px;
    color: #777E90;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.map_img {
    width: 544px;
    height: 400px;
}